/* .outer-form-div {
    background-color: lightseagreen;
    padding: 15px;
    margin: 0 auto;
    padding: 50px;

} */

/* Name, Prep Time, Servings without clicking on line */
/* .input-field label {
    color: black;
    font-size: 2px;
} */


/* .btn{
    background-color: #FFD13B;
    padding: 2rem 4rem;
    line-height: 4px;
    font-size: 24px;
    text-align: center;
} */