.recipe-form-view-inputs {
  color: #ac36b2;
}

.recipe-form-view-inputs .input-field label {
  color: #ac36b2;
}

.recipe-form-view-inputs input[type=text] {
  border-bottom: 1px solid #AC36B2;
}

.recipe-form-view-inputs input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #AC36B2;
  box-shadow: 0 1px 0 0 #AC36B2;
  color: #AC36B2;
}

.recipe-form-view-inputs input[type=text]:focus:not([readonly]) + label {
  color: #AC36B2;
}
