table.striped > tbody > tr:nth-child(odd) {
  background-color: #f4b4ff;
}

table.striped > tbody > tr {
  color: #ffffff;
}

a {
  color: #000000;
}

a:hover {
  color: #3d3d3d;
}

.results-table {
  margin-bottom: 10%;
}

.animate-on-change {
  width: 100%;
}