#mainSearch {
  border-color: #ffffff;
  color: #ffffff;
}

#mainSearch:focus:not([readonly]) {
  border-color: #ffffff;
  box-shadow: 0 1px 0 0 #ffffff;
}

#mainSearch label {
  color: #ffffff;
}

#mainSearch:focus:not([readonly])+label {
  color: #ffffff;
}

.input-field label {
  color: #ffffff;
}