input[type=text] {
  border-color: #ffffff;
  color: #ffffff;
}

input[type=text]:focus:not([readonly]) {
  border-color: #ffffff;
  box-shadow: 0 1px 0 0 #ffffff;
}

input[placeholder="What do you need to get rid of?"]{
  color: #ffffff;
}

.input-field label {
  color: #ffffff;
}

input[type=text]:focus:not([readonly])+label {
  color: #ffffff;
}
